.sucursal_form_page {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    .sucursal_form_card {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        padding: 1.6rem;
    }
}
